{% extends "base.html" %}
{% set cur_app = 'node' %}
{% set js = ('js/graph.js',) %}

{% block main %}

  Select Server:

  <select id='host'>
  {% for h in hosts %}
    <option value="{{ h.name }}" {% if h.name == hostname %}selected="selected"{% endif %}>{{ h.name }}</option>
  {% endfor %}
  </select>

  Select Duration:
  <select disabled="disabled">
    <option value="1h">Last Hour</option>
    <option value="3h">Last 3Hours</option>
    <option value="12h">Last 12Hours</option>
    <option value="24h">Last 24Hours</option>
    <option value="72h">Last 3Days</option>
    <option value="168h">Last Week</option>
    <option value="336h">Last 2 Weeks</option>
    <option value="720h">Last Month</option>
    <option value="2160h">Last Quarter</option>
    <option value="4320h">Last Half Year</option>
    <option value="8640h">Last Year</option>
  </select>

  <h3>Graph of {{ hostname.title() }}</h3>

  <h4>CPU</h4>
  <div id="cpu" data="{{ cpu }}" keys="{{ cpu_keys }}">

  </div>

  <h4>Memory</h4>
  <div id="mem" data="{{ mem }}" keys="{{ mem_keys }}"></div>
  <h4>IO</h4>
  <div id="io" data="{{ io }}" keys="{{ io_keys }}"></div>
  <h4>Net Traffic</h4>
  <div id="net" data="{{ net }}" keys="{{ net_keys }}"></div>
{% endblock %}
