{% extends "base.html" %}
{% set cur_app = 'home' %}
{% set js = ('js/mem.js', 'js/home.js') %}

{% block main %}

  <h4>Latest Server Status</h4>
  <table class="table table-bordered">
    <thead>
    <th>HostName</th>
    <th>Uptime</th>
    <th>CPU(Load 1,5,15)</th>
    <th>Disk(%)</th>
    <th id="io-pop">IO(r_s, w_s, kr_s, kw_s, wait, svc_t, pct_b)</th>
    </thead>
  <tbody>
  {% if not hosts %}\
  <tr>
    <td colspan="3">No hosts yet.</td>
  </tr>
    {% else %}
    {% for host in hosts %}
      <tr class='{{ host.color }}'>
       <td><a title='last modified: {{ host.modified }}{% if host.color=="error" %} (More than one day ago.){% elif host.color=="error" %} (More than 12Hours ago.){% endif %}' class='hostname' href='{{ url('empty') }}/{{ host.name }}'>{{ host.name }}</a></td>
      <td>{{ host.uptime }}</td>
      <td>{{ host.cpu or '' }}</td>
      <td>
        <div class="progress">
          {% if host.disk <= 80 %}
          <div class="bar bar-success" style="width: {{ host.disk or 0}}%;">{{ host.disk or 0}}%</div>
          {% elif host.disk <= 90 %}
          <div class="bar bar-warning" style="width: {{ host.disk or 0}}%;">{{ host.disk or 0}}%</div>
          {% else %}
          <div class="bar bar-danger" style="width: {{ host.disk or 0}}%;">{{ host.disk or 0}}%</div>
          {% endif %}
        </div>
      </td>
      <td>{{ host.io or ''}}</td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
  </table>


{% endblock %}
