<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cloud Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {{ static_css('css/bootstrap.min.css')}}
    {{ static_css('css/morris.css')}}
    {{ static_css('css/base.css')}}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    {{ static_js('js/html5shiv.js') }}
    <![endif]-->

  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Cloud Monitoring</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li {% if cur_app == 'home' %} class="active"{% endif %}><a href="/">Dashboard</a></li>
                <li {% if cur_app == 'node' %} class="active"{% endif %}><a href="{{ url('empty') }}") }}">Node</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <div class='container main-zone'>
        {% block main %}{% endblock %}
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ static_js('js/jquery-1.10.2.min.js') }}
    {{ static_js('js/bootstrap.min.js') }}
    {{ static_js('js/raphael-min.js') }}
    {{ static_js('js/morris.min.js') }}
    {{ static_js('js/base.js') }}
    {% for j in js %}
      {{ static_js(j) }}
    {% endfor %}
  </body>
</html>
